# unicode support for tmux
alias tmux='tmux -u'
# pretty file/directory listings
alias ll='ls -als --color=auto'
alias la='ls -A --color=auto'
alias ls='ls --color=auto'
alias lt='ls -ltr --color=auto'
alias l='ls -CF'
# assume everything is text
alias grep='grep --text --color=auto'
# don't refresh screen when less exits and allow raw ANSI color characters
alias less='less -RX'
# show numbered directory stack
alias ds='dirs -v -p'
# programs
[[ ! -z $EDITOR ]] && alias emacs=$EDITOR
[[ ! -z $READER ]] && alias -s pdf=$READER
# pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
alias ee='emacs "$(fzf --height 50%)"'
