# ag: use a pager by default
alias ag="ag --pager='less --no-init --quit-at-eof --quit-if-one-screen --RAW-CONTROL-CHARS'"
# git: pipe diff through bat
alias gdbat="git diff|bat --plain"
# fd: always use fd alias for fd-find
which fd-find &>/dev/null && alias fd='fd-find'
# grep: assume everything is text
alias grep='grep --text --color=auto'
# less: don't refresh screen when less exits and allow raw ANSI color characters
alias less='less --no-init --quit-at-eof --quit-if-one-screen --RAW-CONTROL-CHARS'
# tmux: unicode support
alias tmux='tmux -u'
# pretty file/directory listings
alias ll='ls -als --color=auto'
alias la='ls -A --color=auto'
alias ls='ls --color=auto'
alias lt='ls -ltr --color=auto'
alias l='ls -CF'
# pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
# show numbered directory stack
alias ds='dirs -v -p'
